.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background-image: linear-gradient(to right bottom, #ebf41b, #efeb14, #f2e210, #f4da0e, #f6d10f, #fbc209, #feb20e, #ffa317, #ff8825, #ff6c34, #f94f43, #ee3051);
}

.QuizCreator h1 {
    text-align: center;
}

.CreateQuiz {
    background: #eeeeee;
    border-radius: 5px;
    padding: 15px;
    width: 600px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}